<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>297110429869-qb8d5lt1jq91v0l1vrph22asujgdk4ih.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.297110429869-qb8d5lt1jq91v0l1vrph22asujgdk4ih</string>
	<key>API_KEY</key>
	<string>AIzaSyA0oOzpbrFlKRsWaM73X_N2oF_It2YAWq4</string>
	<key>GCM_SENDER_ID</key>
	<string>297110429869</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.Budovich.Ivan.Feed-The-Cat</string>
	<key>PROJECT_ID</key>
	<string>feed-the-cat-dd1a1</string>
	<key>STORAGE_BUCKET</key>
	<string>feed-the-cat-dd1a1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:297110429869:ios:8b2abde1b4a467803d6624</string>
</dict>
</plist>